.header {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	padding: $mobile-padding;
	box-sizing: border-box;
	background-color: $bg_text-color;
	@include tablet-resolution {
        padding: 0 24px;
    }  

	&_logo {
		margin-right: 12px;
		@include tablet-resolution {
			margin-right: 24px;
		}
	}
	&_logo-img {
		display: block;
	}
	&_navigation {
		display: none;
		position: absolute;
	    left: 0;
	    right: 0;
	    top: 34px;
	    padding: 16px;
	    border-top: 1px solid #cdcdcd;
	    background-color: $bg_text-color;
	    @include tablet-resolution {
			display: block;
			position: static;
			border: 0;
			padding: 0;
		}
	}
	&_navigation-list {
		display: flex;
		flex-direction: column;
		@include tablet-resolution {
			flex-direction: row;
		}
	}
	&_navigation-item {
		position: relative;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@include tablet-resolution {
			&:not(:last-child) {
				margin-right: 24px;
				margin-bottom: 0;
			}
		}
	}
	&_navigation-link {
		display: block;
		color: $other_text-color;
		font-size: 18px;
		pointer-events: none;
		@include tablet-resolution {
			pointer-events: auto;
			line-height: 53px;
			padding-right: 24px;
			&:hover {
				text-decoration: underline;
			}
		}
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 3.5px;
			width: 11px;
    		height: 7px;
			background: url(../img/menu_arrow.svg) no-repeat center center;
			transition: .3s;
			@include tablet-resolution {
				top: 50%;
				transform: translateY(-50%);
			}
		}
		&.open:after {
			transform: rotate(180deg);
		}
	}
	&_submenu {
		display: none;
		padding-left: 8px;
		padding-top: 16px;
		@include tablet-resolution {
			display: block;
			position: absolute;
			top: 100%;
			background-color: #fff;
			padding: 18px;
			white-space: nowrap;
			border: 1px solid #cdcdcd;
			transition-delay: .5s;
			transform: scaleY(0);
			transform-origin: 0 0;
			opacity: 0;
		}
		&.hover {
			position: static;
			opacity: 1;
			transform: scaleY(1);
			transition: .5s;
			@include tablet-resolution {
				position: absolute;
			}
		}
	}
	&_submenu-item {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&_submenu-link {
		position: relative;
		color: $other_text-color;
		font-size: 18px;
		@include tablet-resolution {
			color: $general_text-color;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	&_btn {
		position: absolute;
		right: 16px;
		top: 50%;
		width: 16px;
		height: 14px;
		background: url(../img/menu_icon.svg) no-repeat center center;
		transition: .5s;
		transform: translateY(-50%);
		@include tablet-resolution {
			display: none;
		}
		&.close {
			background: url(../img/close_icon.svg) no-repeat center center;
			transition: .5s;
		}
	}
}