@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

article,
aside,
audio,
canvas,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
keygen,
menu,
nav,
output,
progress,
section,
source,
video {
  display: block;
  margin: 0; }

body {
  line-height: 1; }

ol,
ul {
  list-style-type: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: normal; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing='0'' in the markup */
table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  vertical-align: top; }

button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner {
  border: none; }

input,
textarea,
button {
  font-family: inherit; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #4d4d4d;
  font-weight: 400; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  display: inline-block;
  padding-top: 2px;
  color: #767676;
  font-weight: 400; }

::-ms-clear {
  display: none; }

input:-webkit-autofill {
  color: #000 !important; }

button {
  border: 0; }

html {
  height: 100%; }

body {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  font-family: 'Roboto', sans-serif; }

img {
  max-width: 100%;
  max-height: 100%; }

a {
  text-decoration: none; }

.header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #424242; }
  @media screen and (min-width: 1024px) {
    .header {
      padding: 0 24px; } }
  .header_logo {
    margin-right: 12px; }
    @media screen and (min-width: 1024px) {
      .header_logo {
        margin-right: 24px; } }
  .header_logo-img {
    display: block; }
  .header_navigation {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 34px;
    padding: 16px;
    border-top: 1px solid #cdcdcd;
    background-color: #424242; }
    @media screen and (min-width: 1024px) {
      .header_navigation {
        display: block;
        position: static;
        border: 0;
        padding: 0; } }
  .header_navigation-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 1024px) {
      .header_navigation-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row; } }
  .header_navigation-item {
    position: relative; }
    .header_navigation-item:not(:last-child) {
      margin-bottom: 16px; }
    @media screen and (min-width: 1024px) {
      .header_navigation-item:not(:last-child) {
        margin-right: 24px;
        margin-bottom: 0; } }
  .header_navigation-link {
    display: block;
    color: #fff;
    font-size: 18px;
    pointer-events: none; }
    @media screen and (min-width: 1024px) {
      .header_navigation-link {
        pointer-events: auto;
        line-height: 53px;
        padding-right: 24px; }
        .header_navigation-link:hover {
          text-decoration: underline; } }
    .header_navigation-link:after {
      content: '';
      position: absolute;
      right: 0;
      top: 3.5px;
      width: 11px;
      height: 7px;
      background: url(../img/menu_arrow.svg) no-repeat center center;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      @media screen and (min-width: 1024px) {
        .header_navigation-link:after {
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); } }
    .header_navigation-link.open:after {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .header_submenu {
    display: none;
    padding-left: 8px;
    padding-top: 16px; }
    @media screen and (min-width: 1024px) {
      .header_submenu {
        display: block;
        position: absolute;
        top: 100%;
        background-color: #fff;
        padding: 18px;
        white-space: nowrap;
        border: 1px solid #cdcdcd;
        -webkit-transition-delay: .5s;
             -o-transition-delay: .5s;
                transition-delay: .5s;
        -webkit-transform: scaleY(0);
            -ms-transform: scaleY(0);
                transform: scaleY(0);
        -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
                transform-origin: 0 0;
        opacity: 0; } }
    .header_submenu.hover {
      position: static;
      opacity: 1;
      -webkit-transform: scaleY(1);
          -ms-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      @media screen and (min-width: 1024px) {
        .header_submenu.hover {
          position: absolute; } }
  .header_submenu-item:not(:last-child) {
    margin-bottom: 16px; }
  .header_submenu-link {
    position: relative;
    color: #fff;
    font-size: 18px; }
    @media screen and (min-width: 1024px) {
      .header_submenu-link {
        color: #000; }
        .header_submenu-link:hover {
          text-decoration: underline; } }
  .header_btn {
    position: absolute;
    right: 16px;
    top: 50%;
    width: 16px;
    height: 14px;
    background: url(../img/menu_icon.svg) no-repeat center center;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media screen and (min-width: 1024px) {
      .header_btn {
        display: none; } }
    .header_btn.close {
      background: url(../img/close_icon.svg) no-repeat center center;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding: 16px; }
  @media screen and (min-width: 1024px) {
    .main {
      padding: 24px; } }
  .main_title {
    font-size: 28px;
    margin-bottom: 20px; }
    @media screen and (min-width: 1024px) {
      .main_title {
        font-size: 36px; } }
  .main_description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px; }
    @media screen and (min-width: 1024px) {
      .main_description {
        font-size: 20px;
        margin-bottom: 24px; } }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0;
      -ms-flex: 0 0;
          flex: 0 0;
  padding: 8px 16px;
  background-color: #424242; }
  @media screen and (min-width: 1024px) {
    .footer {
      padding: 16px 24px; } }
  .footer_copyright {
    color: #fff;
    font-size: 12px; }
    @media screen and (min-width: 1024px) {
      .footer_copyright {
        font-size: 16px; } }
