@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

article,
aside,
audio,
canvas,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
keygen,
menu,
nav,
output,
progress,
section,
source,
video {
  display: block;
  margin: 0; }

body {
  line-height: 1; }

ol,
ul {
  list-style-type: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: normal; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing='0'' in the markup */
table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  vertical-align: top; }

button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner {
  border: none; }

input,
textarea,
button {
  font-family: inherit; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #4d4d4d;
  font-weight: 400; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  display: inline-block;
  padding-top: 2px;
  color: #767676;
  font-weight: 400; }

::-ms-clear {
  display: none; }

input:-webkit-autofill {
  color: #000 !important; }

button {
  border: 0; }

body {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Arial', sans-serif;
  background: url(../img/background.png) no-repeat center center #000;
  -webkit-background-size: cover;
          background-size: cover; }

img {
  max-width: 100%;
  max-height: 100%; }

main {
  padding: 16px 24px; }

.header {
  text-align: center;
  padding: 16px 24px; }
  .header_title {
    margin-top: 16px;
    font-size: 20px; }

.section {
  margin-bottom: 32px;
  position: relative; }
  .section_title {
    font-size: 16px; }

.search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .search-form_input {
    width: 100%;
    padding: 0 12px 0 42px;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    color: #fff;
    font-size: 16px;
    line-height: 36px;
    background: url(../img/find-icon.png) no-repeat 10px center; }
  .search-form_button {
    height: 38px;
    padding: 0 18px;
    margin-left: 6px;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    cursor: pointer;
    color: #fff;
    background: none;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .search-form_button:hover {
      background-color: rgba(224, 224, 224, 0.7); }

.layout {
  text-align: center;
  margin: 0 -24px; }
  @media screen and (min-width: 640px) {
    .layout {
      display: grid;
      justify-items: center;
      grid-gap: 3vw;
      grid-template-columns: repeat(2, 1fr);
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .layout {
      grid-template-columns: repeat(3, 1fr); } }
  .layout_item {
    display: inline-block;
    width: 90vw;
    position: relative;
    padding-bottom: 90vw;
    border: 1px solid #cccccc;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin-bottom: 3%; }
    @media screen and (min-width: 640px) {
      .layout_item {
        width: 45vw;
        padding-bottom: 45vw;
        margin-bottom: 0; }
        .layout_item:first-child {
          -webkit-box-ordinal-group: -1;
          -webkit-order: -2;
              -ms-flex-order: -2;
                  order: -2; }
        .layout_item:nth-child(3) {
          -webkit-box-ordinal-group: 0;
          -webkit-order: -1;
              -ms-flex-order: -1;
                  order: -1;
          grid-row-end: span 2;
          padding-bottom: 90vw; } }
    @media screen and (min-width: 1024px) {
      .layout_item {
        width: 30vw;
        padding-bottom: 30vw; }
        .layout_item:nth-child(3) {
          padding-bottom: 60vw; } }
  .layout_item-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.article_title {
  font-size: 18px;
  margin-bottom: 24px; }

@media screen and (min-width: 1024px) {
  .article_content {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 10%;
       -moz-column-gap: 10%;
            column-gap: 10%;
    -webkit-column-rule: 1px solid #fff;
       -moz-column-rule: 1px solid #fff;
            column-rule: 1px solid #fff; } }

.article_content-paragraph {
  text-indent: 16px;
  margin-bottom: 24px; }

.article_content-details {
  cursor: pointer; }
  .article_content-details:not(:last-child) {
    margin-bottom: 12px; }
  .article_content-details[open] .article_content-dropdown {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 500ms, 200ms;
            animation-duration: 500ms, 200ms;
    -webkit-animation-delay: 0ms, 500ms;
            animation-delay: 0ms, 500ms; }

.article_content-summary::-webkit-details-marker {
  display: none; }

.article_content-summary::-moz-list-bullet {
  list-style-type: none; }

.article_content-dropdown {
  margin-left: 16px; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .checkbox:not(:last-child) {
    margin-bottom: 15px; }
  .checkbox_image {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0; }
  .checkbox_label {
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    padding-left: 44px;
    cursor: pointer; }
    .checkbox_label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 25px;
      height: 24px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: 2px solid #9ca85a;
      -webkit-border-radius: 2px;
              border-radius: 2px; }
      .checkbox_image:checked + .checkbox_label:before {
        border-color: #9ca85a; }
    .checkbox_image:checked + .checkbox_label:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 5px;
      width: 10.5px;
      height: 5px;
      border-left: 4px solid #9ca85a;
      border-bottom: 4px solid #9ca85a;
      -webkit-transform: rotate(-44deg);
          -ms-transform: rotate(-44deg);
              transform: rotate(-44deg);
      -webkit-border-radius: 2px;
              border-radius: 2px; }

.selection {
  margin-top: 12px; }
  .selection_items-description {
    margin-bottom: 16px; }
  .selection_items-elements {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 0 12px;
    margin: 0 12px 12px 0;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-size: 16px;
    line-height: 34px; }
  .selection_items-remove {
    padding-left: 10px;
    border-left: 1px solid #000;
    cursor: pointer; }
  .selection_items-btn {
    display: block;
    width: 100%;
    max-width: 280px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: #9ca85a;
    color: #fff;
    cursor: pointer;
    padding: 0 16px; }
    .selection_items-btn:hover {
      background-color: rgba(156, 168, 90, 0.75); }
  .selection_dialog {
    position: fixed;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0);
        -ms-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
    max-width: 280px;
    padding: 24px;
    z-index: 2;
    background-color: #3f3f3f;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .selection_dialog.selection_dialog__show {
      opacity: 1;
      -webkit-transform: translateX(-50%) scale(1);
          -ms-transform: translateX(-50%) scale(1);
              transform: translateX(-50%) scale(1); }
  .selection_dialog-title {
    text-transform: uppercase;
    margin-bottom: 18px; }
  .selection_dialog-input {
    width: 100%;
    font-size: 14px;
    line-height: 34px;
    padding-left: 12px;
    border: 0;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .selection_dialog-content {
    background-color: #000;
    padding: 12px;
    max-height: 250px;
    margin: 16px 0;
    overflow: scroll; }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.7); }
  .overlay.overlay__show {
    z-index: 1;
    opacity: 1; }

.footer {
  padding: 12px 24px;
  border-top: 1px solid #cdcdcd; }
